h1{color:red;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 50px; background-color: black;
text-align: center;}
.article{background-color: gold;border-style: solid;}
/* hover over link */
a:hover{color: purple;}
p{opacity: 10px; }
.box{ text-align: center;
 margin-top: 20px;
    margin-bottom: 1000px; 
    border: 5px solid black;
    margin-left: px;
    margin-right: 20px;
    background-color: gold;
overflow: scroll;
height: 100;}
.img{position: absolute;
left: 170px;
right: 51px;
z-index: -1;}
